# 1.8. Dict and List comprehensions

## List comprehension
- Una opción de Python muy potente y usada para definir listas (también aplicable para tuplas y dicts) es la posibilidad de definir listas usado *list comprehension*.
- Usamos un bucle para definir la lista.

In [1]:
# Definimos una lista a partir de otra iterándola y elevando al cuadrado cada elemento

[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
# Sería equivalente a poner:
lista = []

for i in range(10):
    lista.append(i**2)
    
lista

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# La lista a recorrer podemos tenerla definida de antemano

lista_a = [1, 2, 3]

[i**2 for i in lista_a]

[1, 4, 9]

In [4]:
# Sería equivalente a poner:

lista_a = [1, 2, 3]
lista = []

for i in lista_a:
    lista.append(i**2)
    
lista

[1, 4, 9]

- Incluso podemos filtrar con un **if** despues del **for**.

In [5]:
[i**2 for i in [1, 2, 3] if i > 1]

[4, 9]

In [6]:
# Sería equivalente a poner:

lista = list()

for i in [1, 2, 3]:
    if i > 1:
        lista.append(i**2)

lista

[4, 9]

- Podemos realizar esta iteración sobre más de un objeto.

In [7]:
[10*i+j for i in [1, 2, 3] for j in [5, 7]]

[15, 17, 25, 27, 35, 37]

In [8]:
# Sería equivalente a poner
lista = []

for i in [1, 2, 3]:
    for j in [5, 7]:
        lista.append(10*i+j)

lista

[15, 17, 25, 27, 35, 37]

In [8]:
# Podemos complicarnos tanto como queramos...

[10*i+j 
 for i in [1, 2, 3] if i%2 == 1 for j in [4, 5, 7] if j >= i+4
]

[15, 17, 37]

In [10]:
# Lo que sería equivalente a poner

lista = []

for i in [1, 2, 3]:
    if i%2 == 1:
        for j in [4, 5, 7]:
            if j >= i+4:
                lista.append(10*i+j)
                
lista

[15, 17, 37]

In [11]:
# Podemos recorrer dos listas a la vez con zip (siempre y cuando tengan la misma longitud)

names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]

[(name,number) for name,number in zip(names, numbers)]

[('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)]

In [12]:
# Lo que sería equivalente a poner:

names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]
lista = []

for name,number in zip(names, numbers):
    el = (name,number)
    lista.append(el)
    
lista

[('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)]

## Dict comprehension
- Se pueden crear también usando dict comprehension.

In [13]:
names = ['One', 'Two', 'Three', 'Four', 'Five']

In [14]:
a2 = {name: len(name) for name in names}
print(a2)

{'One': 3, 'Two': 3, 'Three': 5, 'Four': 4, 'Five': 4}

In [15]:
# Lo que sería equivalente a poner:

a2 = dict()

for name in names:
    a2.update({name: len(name)})
            
a2

{'One': 3, 'Two': 3, 'Three': 5, 'Four': 4, 'Five': 4}

In [11]:
# Podemos crear un diccionario, recorriendo dos listas

names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]

a1 = dict((name, number) for name, number in zip(names, numbers))
print(a1)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [9]:
# Lo que sería equivalente a poner:

names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]
a1 = dict()

for name,number in zip(names, numbers):
    a1.update({name: number})
    
a1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

___
# Ejercicios

**1.8.1.** Calcula la suma de todos los elementos, entre el 1 y el 200, que sean múltiplos de 3 o de 5.

**1.8.2.** Crea una lista de 100 enteros, inicializándolos según valores aleatorios en el rango de 1 a 20

**1.8.3.** Recorre los elementos de la lista y extrae los que empiecen por C

numeros = ["uno", "dos", "tres", "cuatro", "cinco", "treinta"]

**1.8.4.** Escribe un programa que calcule el número de vocales en la frase "En un lugar de la Mancha, de cuyo nombre no quiero acordarme".