___
## Módulo 8: Temas avanzados.
___

## 8.2.  Web Scraping I

In [ ]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

**8.2.1** De la página: https://www.expansion.com/mercados/cotizaciones/indices/ibex35_I.IB.html obten un daframe con los contenidos de la tabla de cotizaciones.

In [47]:
dfs = pd.read_html('https://www.expansion.com/mercados/cotizaciones/indices/ibex35_I.IB.html', match='Valor')

In [35]:
len(dfs)

5

In [37]:
dfs[0]

,Valor,Último,Var. %,Var.,Ac. % año,Máx.,Mín.,Vol.,Capit.,Hora,Unnamed: 10
0,ACCIONA,184300,126,230,721,184800,180800,38.611,10.110,16:31,NaN
1,ACCIONA ENER,35580,154,54,-155,35660,34900,138.596,11.715,16:35,NaN
2,ACERINOX,9484,83,8,571,9512,9390,227.704,2.566,16:36,NaN
3,ACS,29380,79,23,1166,29490,29180,252.886,8.349,16:36,NaN
4,AENA,148750,-13,-20,2681,149450,147000,45.057,22.312,16:36,NaN
5,AMADEUS IT GROUP,61600,155,94,2688,61640,60040,317.070,27.751,16:35,NaN
6,ARCELORMITTAL,27860,98,27,1330,27910,27460,130.784,24.456,16:36,NaN
7,BANCO SABADELL,992,-174,-2,1267,1016,986,14.750.958,5.584,16:36,NaN
8,BANKINTER,5240,-187,-10,-1493,5310,5156,3.156.694,4.710,16:36,NaN
9,BBVA,6594,-38,-3,1704,6695,6543,7.236.283,42.114,16:35,NaN
10,CAIXABANK,3597,-151,-6,-204,3665,3576,5.168.481,28.994,16:35,NaN
11,CELLNEX TELECOM,35960,101,36,1630,36030,35410,304.538,24.429,16:35,NaN
12,COLONIAL,5845,-68,-4,-275,5920,5775,875.411,3.154,16:35,NaN
13,ENAGAS,17735,131,23,1424,17775,17470,372.637,4.646,16:35,NaN
14,ENDESA,19995,132,26,1338,20040,19650,1.168.430,21.170,16:36,NaN
15,FERROVIAL,27090,63,17,1071,27170,26960,232.900,19.981,16:34,NaN
16,FLUIDRA,16250,112,18,1191,16440,16130,530.905,3.179,16:34,NaN
17,GRIFOLS,9152,2,0,-1502,9224,9006,810.673,3.900,16:36,NaN
18,IAG,1724,247,4,2398,1737,1711,11.119.026,8.571,16:36,NaN
19,IBERDROLA,11500,83,10,696,11530,11375,2.986.869,74.133,16:35,NaN
20,INDITEX,30880,178,54,2427,30930,30480,916.622,96.242,16:35,NaN
21,INDRA,12370,-198,-25,1615,12710,12340,336.070,2.185,16:29,NaN
22,LOGISTA,22980,-137,-32,118,23500,22960,104.979,3.051,16:29,NaN
23,MAPFRE,1860,-43,-1,276,1883,1844,1.545.707,5.728,16:36,NaN
24,MELIÁ HOTELS,5940,102,6,2975,5950,5850,649.208,1.309,16:36,NaN
25,MERLIN PROP.,8075,37,3,-798,8100,7925,487.474,3.793,16:34,NaN
26,NATURGY,27800,124,34,1436,27820,27320,63.222,26.955,16:36,NaN
27,REDEIA,16220,106,17,135,16275,16030,467.337,8.776,16:36,NaN
28,REPSOL,14145,-88,-12,-250,14360,14120,1.570.300,20.544,16:36,NaN
29,ROVI,38200,-180,-70,593,39000,38160,95.648,2.063,16:34,NaN
30,SACYR,2952,96,3,1603,2988,2948,1.790.444,1.968,16:35,NaN
31,SANTANDER,3443,-28,-1,2284,3479,3421,28.380.112,56.643,16:36,NaN
32,SOLARIA,16595,110,18,-307,16665,16160,320.475,2.074,16:35,NaN
33,TELEFÓNICA,3981,58,2,1761,4020,3964,5.401.759,22.991,16:35,NaN
34,UNICAJA BANCO,990,-139,-1,-398,1007,983,3.510.094,2.628,16:36,NaN

In [23]:
url = 'https://www.expansion.com/mercados/cotizaciones/indices/ibex35_I.IB.html'

r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')

In [39]:
result = soup.find_all('table',{'id' : 'listado_valores'})

In [40]:
len(result)

1

In [44]:
pd.read_html(str(result[0]))[0]

,Valor,Último,Var. %,Var.,Ac. % año,Máx.,Mín.,Vol.,Capit.,Hora,Unnamed: 10
0,ACCIONA,184300,126,230,721,184800,180800,38.611,10.110,16:31,NaN
1,ACCIONA ENER,35600,160,56,-149,35660,34900,138.217,11.721,16:33,NaN
2,ACERINOX,9480,79,7,567,9512,9390,224.349,2.565,16:34,NaN
3,ACS,29390,82,24,1170,29490,29180,252.570,8.352,16:34,NaN
4,AENA,148950,0,0,2698,149450,147000,44.458,22.342,16:28,NaN
5,AMADEUS IT GROUP,61580,152,92,2684,61640,60040,315.395,27.742,16:34,NaN
6,ARCELORMITTAL,27865,100,27,1332,27910,27460,130.316,24.460,16:33,NaN
7,BANCO SABADELL,993,-168,-2,1274,1016,986,14.720.268,5.588,16:34,NaN
8,BANKINTER,5246,-176,-9,-1483,5310,5156,3.151.225,4.715,16:32,NaN
9,BBVA,6593,-39,-3,1702,6695,6543,7.189.112,42.107,16:34,NaN
10,CAIXABANK,3596,-153,-6,-207,3665,3576,5.164.734,28.986,16:34,NaN
11,CELLNEX TELECOM,35970,104,37,1633,36030,35410,304.131,24.435,16:33,NaN
12,COLONIAL,5840,-76,-5,-283,5920,5775,874.884,3.151,16:30,NaN
13,ENAGAS,17735,131,23,1424,17775,17470,370.718,4.646,16:33,NaN
14,ENDESA,20000,134,26,1341,20040,19650,1.167.497,21.175,16:33,NaN
15,FERROVIAL,27100,67,18,1075,27170,26960,232.459,19.988,16:33,NaN
16,FLUIDRA,16240,106,17,1185,16440,16130,530.780,3.177,16:31,NaN
17,GRIFOLS,9152,2,0,-1502,9224,9006,810.428,3.900,16:34,NaN
18,IAG,1727,262,4,2416,1737,1711,11.064.192,8.583,16:34,NaN
19,IBERDROLA,11500,83,10,696,11530,11375,2.954.954,74.133,16:32,NaN
20,INDITEX,30890,181,55,2431,30930,30480,913.526,96.273,16:33,NaN
21,INDRA,12370,-198,-25,1615,12710,12340,336.070,2.185,16:29,NaN
22,LOGISTA,22980,-137,-32,118,23500,22960,104.979,3.051,16:29,NaN
23,MAPFRE,1863,-27,0,293,1883,1844,1.510.056,5.737,16:33,NaN
24,MELIÁ HOTELS,5940,102,6,2975,5945,5850,646.790,1.309,16:30,NaN
25,MERLIN PROP.,8065,25,2,-809,8100,7925,487.444,3.789,16:34,NaN
26,NATURGY,27790,120,33,1432,27820,27320,59.206,26.946,16:33,NaN
27,REDEIA,16215,103,17,132,16275,16030,465.482,8.774,16:32,NaN
28,REPSOL,14155,-81,-12,-243,14360,14120,1.552.396,20.559,16:33,NaN
29,ROVI,38200,-180,-70,593,39000,38160,95.581,2.063,16:25,NaN
30,SACYR,2952,96,3,1603,2988,2948,1.784.988,1.968,16:32,NaN
31,SANTANDER,3443,-26,-1,2285,3479,3421,28.313.508,56.651,16:34,NaN
32,SOLARIA,16595,110,18,-307,16665,16160,320.151,2.074,16:32,NaN
33,TELEFÓNICA,3980,56,2,1758,4020,3964,5.392.023,22.985,16:33,NaN
34,UNICAJA BANCO,991,-129,-1,-388,1007,983,3.490.806,2.631,16:33,NaN

**8.2.2** Extrae las noticias que aparecen el la web: https://www.expansion.com/mercados/cotizaciones/valores/telefonica_M.TEF.html, Generando un dataframe con la fecha, el título y el resumen de cada noticia.

In [57]:
url = 'https://www.expansion.com/mercados/cotizaciones/valores/telefonica_M.TEF.html'

r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')

In [58]:
noticas = soup.find_all('article',{'class' : 'noticia'})

In [60]:
len(noticas)

10

In [82]:
list_noticias = []

for noticia in noticas:
    
    fecha = noticia.find_all('p',{'class' : 'fecha'})[0].text
    titulo = noticia.find_all('a',)[0].text
    entradilla = noticia.find_all('div',{'class' : 'entradilla'})[0].text

    list_noticias.append(
        {
            'fecha': fecha,
            'titulo': titulo,
            'entradilla': entradilla,
        }
    )

In [84]:
pd.DataFrame(list_noticias)

,fecha,titulo,entradilla
0,31-03-2023,"Pallete: ""Un nuevo mundo requiere nuevas reglas""","\nEl presidente de Telefónica, José María Alva..."
1,30-03-2023,La CNMC fija ahora el reparto del servicio uni...,\nLa CNMC acaba de anunciar como se debe repar...
2,28-03-2023,Impecable apoyo de Telefónica en los máximos d...,\nA pesar de las importantes caídas durante gr...
3,28-03-2023,El titán del Ibex que destaca entre sus rivale...,\nUna compañía del Ibex es una joya para la ma...
4,28-03-2023,Telefónica y Asterion cierran la venta de 11 c...,"\nNabiax, la firma conjunta de la 'teleco' y e..."
5,25-03-2023,Las cotizadas disparan un 28% sus ingresos has...,\nEl ebitda conjunto crece un 9%. El beneficio...
6,21-03-2023,Movistar Money abre sus créditos a clientes de...,\n\n
7,21-03-2023,"JPMorgan augura rumbos dispares en Iberdrola, ...",\nLas aguas podrían tardar en volver a su cauc...
8,16-03-2023,Movistar Prosegur Alarmas prevé que el mercado...,"\nMovistar Prosegur Alarmas (MPA), la joint ve..."
9,14-03-2023,"Telefónica, en soporte, consigue aguantar el t...",\nLos títulos de nuestra operadora cayeron aye...

##  8.3. Web Scraping II.
**8.3.1** Navega hasta la página Mercados y cotizaciones, apartado precios. Y descarga la tabla con los precios del ibex. Puedes obtener el código html de la tabla con .get_attribute('innerHTML') y utiliza pandas pd.read_html para sacarla los resultados en un dataframe.

In [2]:
from selenium import webdriver

DRIVER_PATH = '../module_8//chromedriver' # El mío está en la carpeta del módulo 8
driver = webdriver.Chrome(executable_path=DRIVER_PATH)
driver.get('https://www.bolsamadrid.es/')

/var/folders/p5/_qx9l9gs30s9_8y4qcb7jkwm0000gn/T/ipykernel_59330/834565130.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=DRIVER_PATH)

In [3]:
from selenium.webdriver.common.by import By

In [4]:
botton_cookies = driver.find_element(
    By.XPATH, '//*[@id="onetrust-accept-btn-handler"]'
)

In [5]:
botton_cookies.text

'Aceptar todas las cookies'

In [6]:
botton_cookies.click()

In [7]:
botton_mercados = driver.find_element(
    By.XPATH, '//*[@id="navbar-menu"]/li[4]/a'
)

In [8]:
botton_mercados.text

'Mercados y Cotizaciones'

In [9]:
botton_mercados.click()

In [10]:
botton_precios = driver.find_element(
    By.XPATH, '//*[@id="menu135"]/ul/li[1]/ul/li[1]/a'
)

In [11]:
botton_precios.text

'Precios'

In [12]:
botton_precios.click()

In [13]:
tabla = driver.find_element(
    By.XPATH, '//*[@id="root"]/div[4]'
)

In [14]:
import pandas as pd

In [15]:
pd.read_html(tabla.get_attribute('innerHTML'))[0]

,Nombre,Último,% Dif.,Máximo,Mínimo,Volumen,Efectivo (miles €),Fecha,Hora
0,ACCIONA,1805000,"1,58%",1823000,1794500,38.343,"6.940,57",14/04/2023,13:12:29
1,ACCIONA ENER,347000,"-0,17%",351800,347000,52.932,"1.845,49",14/04/2023,13:07:38
2,ACERINOX,95040,"0,23%",95140,94400,186.650,"1.768,97",14/04/2023,13:11:58
3,ACS,304500,"0,96%",304700,300500,137.690,"4.173,87",14/04/2023,13:12:01
4,AENA,1508000,"-0,07%",1516500,1496500,19.074,"2.869,53",14/04/2023,13:13:28
5,AMADEUS,610800,"0,13%",612800,609000,84.369,"5.158,22",14/04/2023,13:13:54
6,ARCELORMIT.,269150,"-0,55%",272200,267600,49.528,"1.332,33",14/04/2023,13:11:55
7,B.SANTANDER,35500,"2,03%",35560,34745,10.200.269,"35.584,93",14/04/2023,13:14:03
8,BA.SABADELL,10240,"2,52%",10245,9878,10.149.094,"10.188,36",14/04/2023,13:13:57
9,BANKINTER,56040,"3,01%",56060,54320,920.128,"5.062,83",14/04/2023,13:14:00
10,BBVA,67240,"1,45%",67300,66160,54.316.956,"360.777,76",14/04/2023,13:14:03
11,CAIXABANK,35120,"1,74%",35130,34220,17.400.939,"59.923,34",14/04/2023,13:13:44
12,CELLNEX,383000,"0,21%",385500,382000,203.021,"7.796,47",14/04/2023,13:11:55
13,ENAGAS,182500,"-0,16%",183700,182300,116.488,"2.131,05",14/04/2023,13:13:36
14,ENDESA,199750,"-1,46%",203600,199150,401.998,"8.074,57",14/04/2023,13:13:49
15,FERROVIAL,275200,"0,47%",275400,273800,142.077,"3.903,50",14/04/2023,13:09:29
16,FLUIDRA,150200,"-0,53%",152100,149000,226.993,"3.425,12",14/04/2023,13:13:11
17,GRIFOLS CL.A,94800,"-0,90%",96000,94560,285.987,"2.724,81",14/04/2023,13:13:31
18,IAG,16515,"0,30%",16560,16390,2.287.136,"3.765,92",14/04/2023,13:13:33
19,IBERDROLA,116100,"-0,47%",117300,116100,1.664.196,"19.403,13",14/04/2023,13:13:54
20,INDITEX,309900,"0,06%",311600,309600,453.793,"14.102,01",14/04/2023,13:13:55
21,INDRA A,126800,"-0,86%",127800,126500,284.125,"3.606,97",14/04/2023,13:12:38
22,INM.COLONIAL,59450,"1,89%",59600,58550,633.510,"3.747,40",14/04/2023,13:12:37
23,LOGISTA,229800,"-0,95%",232600,229000,72.585,"1.668,61",14/04/2023,13:11:49
24,MAPFRE,19390,"-0,05%",19410,19180,853.367,"1.645,73",14/04/2023,13:11:35
25,MELIA HOTELS,59500,"1,45%",59500,58700,274.597,"1.623,43",14/04/2023,13:12:44
26,MERLIN,80900,"1,76%",81050,79700,247.320,"1.991,01",14/04/2023,13:12:37
27,NATURGY,284800,"-0,35%",287600,284600,37.068,"1.062,11",14/04/2023,13:10:22
28,R.E.C.,164900,"-0,45%",166400,164650,71.549,"1.183,49",14/04/2023,13:13:18
29,REPSOL,139600,"-0,14%",140400,138550,604.597,"8.418,49",14/04/2023,13:13:58
30,ROVI,409400,"0,29%",412800,407000,41.716,"1.709,83",14/04/2023,13:04:26
31,SACYR,29900,"0,34%",30000,29660,568.816,"1.694,59",14/04/2023,13:11:41
32,SOLARIA,158250,"-0,03%",161000,157850,80.525,"1.284,10",14/04/2023,13:11:36
33,TELEFONICA,40620,"0,07%",40730,40270,1.455.544,"5.893,62",14/04/2023,13:13:54
34,UNICAJA,10130,"2,01%",10140,9875,2.454.290,"2.448,82",14/04/2023,13:14:02

**8.3.2** Obtén de Investing.com la información histórica del Banco Santander, desde el 1 de enero del 2018, hasta el 31 de diciembre del mismo año

https://es.investing.com/equities/banco-santander-historical-data

In [ ]:
DRIVER_PATH = 'chromedriver' # El mío está en la carpeta del módulo 8
driver = webdriver.Chrome(executable_path=DRIVER_PATH)
driver.get('https://es.investing.com/equities/banco-santander-historical-data')

Ojo, porque al acceder a investing desde código, lo primero que nos encontraremos serán 2 pop up

<center>
<img src="./entrada_investing.png"  alt="drawing" width="600"/>
</center>

In [ ]:
boton_aceptar = driver.find_element_by_xpath('//*[@id="onetrust-accept-btn-handler"]')
boton_aceptar.click()

In [ ]:
boton_cerrar = driver.find_element_by_xpath('//*[@id="PromoteSignUpPopUp"]/div[2]/i')
boton_cerrar.click()

In [ ]:
boton_acciones = driver.find_element_by_xpath('//*[@id="widgetFieldDateRange"]')
boton_acciones.click()

In [ ]:
fecha_inicio = driver.find_element_by_xpath('//*[@id="startDate"]')
fecha_inicio.clear()
fecha_inicio.send_keys('01/01/2018')

In [ ]:
fecha_fin = driver.find_element_by_xpath('//*[@id="endDate"]')
fecha_fin.clear()
fecha_fin.send_keys('31/12/2018')

In [ ]:
boton_aceptar = driver.find_element_by_xpath('//*[@id="applyBtn"]')
boton_aceptar.click()

In [ ]:
tabla = driver.find_element_by_xpath('//*[@id="results_box"]')
tabla_html = tabla.get_attribute('innerHTML')
df = pd.read_html(tabla_html)
df[0]